* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Black_box {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;     
}

.Black_box p {
    color: white;
}

.p1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 700px;
}

.p2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 700px;
}

.First_img {
    position: relative;
}

.Sec_img {
    position: relative;
}

.text-overlay {
    position: absolute;    
    top: 50%;             
    left: 50%;            
    transform: translate(-50%, -50%); 
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8); 
    white-space: nowrap;  
}

.text-overlay2 {
    position: absolute;    
    top: 50%;             
    left: 50%;            
    transform: translate(-50%, -50%); 
    color: red;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8); 
    white-space: nowrap;
}