
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
}

.box {
    flex: 1;
    min-width: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
}

.red {
    background-color: #ff4d4d;
}

.blue {
    background-color: #4d79ff;
}